<section class="hero is-small is-link">
  <div class="hero-body">
    <p class="title">
      This is the Home Page
    </p>
    <p class="subtitle">
      More stuff to follow here later
    </p>
  </div>
</section>