<section class="hero is-small is-link">
  <div class="hero-body">
    <p class="title">
      This is the Home Page
    </p>
    <p class="subtitle">
      More stuff to follow here later
      <br>
      <br>
      <button class="button is-light">Log in</button> 
      <button class="button is-primary">Sign up</button>
    </p>
  </div>
</section>