<p style="color: green"><%= notice %></p>

<section class="hero is-small is-primary">
  <div class="hero-body">
    <p class="title">
      Blog Posts
    </p>
    <p class="subtitle">
      Follow my blog
    </p>
  </div>
</section>

<div id='post spacer' style="height: 30px;"></div>


<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class:"button is-info" %>
    </p>
  <div id='post spacer' style="height: 10px;"></div>
  <% end %>
</div>
<div id='new post spacer' style="height: 10px;"></div>
<%= link_to "New post", new_post_path, class:"button is-primary" %>
