<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <img src="https://hisgames.org/images/logo/214/logo_tiny-rails.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <%= link_to 'Home', root_path, class:'navbar-item' %>
      </a>
      
      
      <a class="navbar-item">
        Today in History
      </a>
      
      
      <a class="navbar-item">
        <%= link_to 'About', about_path, class:'navbar-item' %>
      </a>

      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            <strong> Log out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>